<!--<app-clock></app-clock>-->

<!--<app-vaadin-grid></app-vaadin-grid>-->


<!--<div class = "navbar-fixed">
 <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="all-products-page">All Products</a></li>
        <li><a routerLink="admin">Admin</a></li>
       
      </ul>
    </div>
  </nav>
</div>-->
<router-outlet></router-outlet>

<!--<ul>
    <li *ngFor="let item of items | async">
      {{ item.$value }}
    </li>
  </ul>-->


<!--<button (click)="call()">butn</button>-->
<!--<app-home-page></app-home-page>-->




<!--<p>{{ (product1 | async)?.productId }}</p>
<p>{{ (product1 | async)?.productName }}</p>

<p>{{ (product2 | async)?.productId }}</p>
<p>{{ (product2 | async)?.productName }}</p>-->





